/*
body.preload *{
animation-duration: 0s !important;
-webkit-animation-duration: 0s !important;
transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;
}
*/

body.preload *{
	transition: padding 0s, margin 0s !important;
}

.ph-item-box {	
	display: inline-block;
	position: relative;
	margin-bottom: 30px;
	clear: both;
	
}
.ph-item-box:hover{
	z-index: 999;
}

/* substitution for thumbnail */
.ph-item-box .ph-item{
	transition: all 0.3s;
	background-color: #fff;
    border: 1px solid #ddd;
	border-radius: 4px;
    display: -inline-block;
    line-height: 1.42857;
	
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box;
	
	padding: 0px;
	
	
}
.ph-item-box:hover .ph-item {
	box-shadow: 0px 0px 5px rgba(1, 1, 1, 0.3);
	
	padding: 0px;
	padding-bottom: 25px;
	margin-bottom: -25px;
	
	display: relative;
	z-index: 9;
	clear:both;

}

.ph-item-box .ph-item-content {
	padding: 13px;
}


.ph-item-box .ph-item-action-box .ph-item-action-fade{
	clear: both;
	padding-top: 10px;
	padding-bottom: 15px;
	left: 0px;
	right: 0px;
	visibility: hidden; 
	opacity: 0;
	position: absolute;
	bottom: 0;
	transition: all 0.3s;
	
	-webkit-box-sizing:content-box;
	-moz-box-sizing:content-box;
	box-sizing:content-box
}
.ph-item-box:hover .ph-item-action-box .ph-item-action-fade{
	visibility: visible;
	opacity: 1;
	bottom: -47px;
}

.ph-item-box .ph-item-action-box{
	padding-bottom: 7px;
	position: relative;
	
}

.ph-item-box .ph-item-action-fade a{
	/*display: block;*/
	/*max-width: 50%;*/
	/*overflow: hidden;*/
	white-space: nowrap;
	transform: scale(0);
	opacity: 0;
	visibility: hidden;
	
	background: #f7f7f7;
	text-align: center;
	border-radius: 50%;
	margin:auto;
	display: inline-block;
    width: 36px;
	height: 36px;
    line-height: 36px;
    position: relative;
    vertical-align: middle;
	font-size: 18px;
	padding: 0px;

}
.ph-item-box:hover .ph-item-action-fade a{
	transform: scale(1);
	opacity: 1;
	visibility: visible;
}

.ph-item-box .ph-item-action-fade a .glyphicon {
	margin-left: -1px;
	margin-top: 7px;
}

