#adminForm {
	margin: 0 0 0 0 !important;
}



/* Columns*/
.ph-image {
	text-align:center;
	width: 10%;
}
.ph-description {
	width: 50%;
}
.ph-action {
	width: 15%;
}
.ph-title {
	width: 60%;
}
.ph-title-small {
	width: 10%;
}

.ph-title-stat {
	width: 10%;
}
.ph-filename-stat {
	width: 50%;
}

.ph-map {
	width: 20%;
}

.ph-exchange-rate {
	width: 15%;
}

.ph-countries {
	width: 25%;
}
.ph-regions {
	width: 25%;
}

.ph-rule {
	width: auto;
}

.ph-min-purchase,
.ph-title-short {
	width: 30%;
}
.ph-filename-long {
	width: 50%;
}
.ph-count {
	width: 5%;
}

.ph-page {
	width: 5%;
}

.ph-functions,
.ph-id,
.ph-check,
.ph-ordering {
	width: 1%;
}

.ph-plugincode-td {
color: #999;
}

.ph-right {
	text-align: right !important;
}
.ph-center {
	text-align: center !important;
}

.ph-uploaduser {
	width: 7%;
	white-space: nowrap;
}
.nowrap {
		white-space: nowrap;
}
.center {
	text-align: center;
}
.ph-owner,
.ph-rating,
.ph-hits,
.ph-language,
.ph-published,
.ph-approved {
	width: 5%;
}
.ph-user,
.ph-parentcattitle {
	width: 15%;
}
.ph-filename,
.ph-access {
	width: 10%;
}

.ph-incoming-page {
	width: 10%;

}





.ph-multiple-table tr td.ph-img-table {
	text-align: center;
	padding-top: 4px;
}



.ph-no-btn {
	border: 0;
}



.ph-head-form-small,
.ph-head-form {
	font-weight: bold;
}
.ph-head-form {
		margin-bottom: 10px;
}
.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}

.ph-w30 {
	width: 30%;
}
.ph-w40 {
	width: 40%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

.ph-cpanel-left {
	float: left;
	width: 49%;
}
.ph-cpanel-right {
	float: right;
	width: 49%;
}

.ph-cpanel-right-box {
	background: #f5f5f5;
	padding: 15px;
	margin-top: 10px;
	margin-right: -25px;
}






#configTabs li a img {
	margin-top: -3px;
}


.ph-in {
	padding: 5px;
}

.ph-w80 {
	width: 80%;
}
.dl-horizontal.ph-input dt {
	float: left;
	clear: left;
	margin-right: 20px;
	text-align: left;
	width: auto;
}
.dl-horizontal.ph-input dd{
}

div.icon-48-info {
	background: url('../../images/icon-48-info.png') no-repeat left;
}
div.icon-48-phoca {
	background: url('../../images/icon-48-phoca.png') no-repeat left;
}
div.icon-48-orders {
	background: url('../../images/icon-48-order.png') no-repeat left;
}
div.icon-48-costs {
	background: url('../../images/icon-48-cost.png') no-repeat left;
}








a img, img {border:0px;text-decoration:none;}

.p-noscript {
	text-align:	center;
	background:	#ffcc00;
	padding:	10px;
}

#phocamaps .p-add-address {
	margin-top: 10px;
}

.license {
	text-align:justify;
	font-size: 9px;
}

.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
}

/*form*/
#phAdminEdit .chzn-container-single.chzn-disabled .chzn-single,
#phAdminEdit select[readonly] {
	background: #D9D9D3 !important;
	color: #000 !important;
	border: 1px solid #aaa !important;
}
#phAdminEditPopup  input[readonly],
#phAdminEdit input[readonly],
input.pmreadonly {
	background: #ecece9 !important;
	color: #777 !important;
}

#phAdminEdit .chzn-container-single.chzn-disabled .chzn-single:focus,
#phAdminEdit .chzn-container-single.chzn-disabled .chzn-single:hover,
#phAdminEdit select[readonly]:focus,
#phAdminEdit select[readonly]:hover {
	background: #D9D9D3 !important;
	color: #000 !important;
	border: 1px solid #aaa !important;
}

#phAdminEditPopup  input[readonly]:focus,
#phAdminEditPopup  input[readonly]:hover,
#phAdminEdit input[readonly]:focus,
#phAdminEdit input[readonly]:hover,
input.pmreadonly:focus,
input.pmreadonly:hover {
	background: #ecece9 !important;
	color: #777 !important;
}



.phoca-adminform {
	background-color: #fff;
	border: solid 1px #d5d5d5;
	padding:10px;
	color: #777;
}
.cpanel-right {
	color: #777;
}

#phocamaps img {
  max-width: none;
}


#phocacartmanager .ph-admin-path {
	border: 1px solid #ccc;
	background: #f0f0f0;
	padding: 10px;
	margin:5px 0px;
}
#phocacartmanager .ph-admin-files {
	border: 1px solid #ccc;
	background: #fff;
	padding: 10px;
	margin:5px 0px;
}

#phocacartmanager .ph-admin-file {
	padding:3px 0px;
	margin:0px;
}
#phocacartmanager .ph-admin-file-checkbox {
	padding:3px 0px;
	margin:7px 0px;
	background: #f9f9f9;
	border-bottom: 1px solid #f0f0f0
}

/*
.ph-background-loading {
	filter: Alpha(Opacity=40); -moz-opacity:0.4; opacity: 0.4;
	width: 100vw;
    height: 100vh;
	background-color: #333;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 9998;
}

.ph-message-loading {
	position:absolute;
	top:200px;
	left:0;
	right:0;
	width:70%;
	background:#ffffff;
	border:5px solid #ccc;
	padding:50px;
	margin: 0 auto;
	text-align:center;
	z-index: 9999;
	font-size: x-large;
	color: #ccc;
}
*/

/* CSS Loading */
/* Standard Message */
.ph-loader {
  margin: 1em auto;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.6em solid #C1E2F1;
  border-right: 0.6em solid #C1E2F1;
  border-bottom: 0.6em solid #C1E2F1;
  border-left: 0.6em solid #0069cc;
  -webkit-animation: load8 0.9s infinite linear !important;;
  animation: load8 0.9s infinite linear !important;;
}
.ph-loader,
.ph-loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
}

.ph-ajax-message {
	background: #E5F3FF;
	text-align:center;
	padding: 10px;
	margin: 5px auto 10px auto;
	color:  #0069cc;
	font-weight: bold;
	border-radius: 3px;
	border: 0px;
}

/* Top Message */
.ph-loader-top,
.ph-loader-top-transparent {
  margin: auto;
  font-size: 1em;
  position: relative;
  text-indent: -9999em;
  border-top: 0.3em solid #fff;
  border-right: 0.3em solid #fff;
  border-bottom: 0.3em solid #fff;
  border-left: 0.3em solid rgba(255,255,255,0.5);
  -webkit-animation: load8 0.9s infinite linear !important;;
  animation: load8 0.9s infinite linear !important;;
   margin-bottom: 0.6em;
   margin-top: 0.5em
}
.ph-loader-top-transparent {
	border: 0.6em solid transparent;

}


.ph-loader-top,
.ph-loader-top-transparent,
.ph-loader-top:after,
.ph-loader-top-transparent:after {
  border-radius: 50%;
  width: 2.0em;
  height: 2.0em;
}





@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#ph-ajaxtop-message {
	position:fixed;
	top:0.3em;
	left:0;
	right:0;
	width:50%;
	background: #fdd043;
	background-image: linear-gradient(to right, #fdd043 0%, #fcc311 100%);
	border-radius: 2px;
	padding: 0;
	margin: 0 auto;
	text-align:center;
	z-index: 9999;
	color: #fff;
	font-weight: bold;
}

#ph-ajaxtop-close {
	float: right;
	font-weight: bold;
	color: #fff;
	padding: 0.2em 0.5em;
	cursor: pointer;
	border-radius: 2px;
	background: rgba(255,255,255, 0.5);
}

.ph-progressbar-bottom {
	background: #fff;
	background: linear-gradient(to right, rgb(255,255,255,0.3), rgb(255,255,255,0.5));
	height: 5px;
	width: 100%;
	padding:0;
	border-radius: 0 0 2px 2px;
	margin: 0.7em 0 0 0;
}


#ph-ajaxtop {
	display: none;
}


#ph-ajaxtop-message .ph-result-txt {
	margin-top:1em;
	color:#fff;
	font-weight: bold;
	font-size: 1.2em;
	display:block;
}

#ph-ajaxtop-message .ph-info-txt{

}
#ph-ajaxtop-message .ph-info-txt:before {

	color: #3bafda;
	font-family: 'JoomlaFont' !important;
	content: "\13c5d";
	margin-right: 0.5em;
	font-weight: bold;
	position:absolute;
	font-size: 1.6em;
	left: 0.4em;
	margin-top: -0.3em;

}

#ph-ajaxtop-message .ph-success-txt {

}
#ph-ajaxtop-message .ph-success-txt:before {

	color: #00b19d;
	font-family: 'JoomlaFont' !important;
	content: "\13c5d";
	margin-right: 0.5em;
	font-weight: bold;
	position:absolute;
	font-size: 1.6em;
	left: 0.4em;
	margin-top: -0.3em;
}
#ph-ajaxtop-message .ph-error-txt {
}

#ph-ajaxtop-message .ph-error-txt:before {

	color: #f76397;
	font-family: 'JoomlaFont' !important;
	content: "\13c5d";
	margin-right: 0.5em;
	font-weight: bold;
	position:absolute;
	font-size: 1.6em;
	left: 0.4em;
	margin-top: -0.3em;
}

.ph-add-item {
	float: left;
	margin-top:5px;
}

.ph-remove-row {
	float: left;
	margin-top: 5px;
	margin-left: 10px;

}
.ph-add-row {
	padding-top: 10px;
}

.ph-u {
	text-decoration: underline;
}

#ph-sandbox-msg {
	display: none;
}


.ph-cb {
	clear: both;
}
.ph-pad-b {
	padding-bottom: 10px;
}

/* Stars */
span.ph-stars, span.ph-stars span {
    display: block;
    /*background: url(../../images/star-small.png) 0 -16px repeat-x;*/
	background: url(../../images/star-small.svg) 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.ph-stars span {
    background-position: 0 0;
}

.ph-notes-box {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}

.ph-items-image-box img {
	width: 80%;
	height: auto;
}
.ph-cart-info-box {

}
.ph-cart-info-box table {
	width: 50%;
}
.ph-cart-info-box .ph-hr {
	border-bottom: 1px solid #ccc;
}
.ph-cart-info-box .ph-cart-total {
	font-weight: bold;
}

.ph-last-cart-activity {
	margin-top: 20px;
}

.ph-control-group-text {
	margin-top:-15px;
	margin-bottom: -15px;
}
table.ph-order-products tr {
	margin-top:5px;
	margin-bottom: 5px;
}
.ph-order-products-hr {
	border-bottom: 1px solid #ddd;
}

td.ph-p-r-med {

padding-right: 40px !important;

}
.ph-total-center a,
.ph-total-center {
	text-align: center !important;

}

.ph-tax-edit,
.ph-order-status-edit {
	width: 100%;
}

.ph-tax-edit-header,
.ph-order-status-edit-header {
	font-weight: bold;
	border-bottom: 2px solid #ddd;
	padding-top: 5px;
	padding-bottom: 5px;
}
.ph-tax-edit-item,
.ph-order-status-edit-item {
	border-bottom: 1px solid #ddd;
	padding-top: 7px;
	padding-bottom: 7px;
}



.ph-tax-edit-button {
	margin: 5px;
}

.ph-tax-edit-button button span.icon-edit:before,
.ph-order-status-edit-button button span.icon-edit:before  {
	color: #fff;
}



table.ph-table-order-link,
table.ph-table-download-links {
	width: 100%;
	text-align:left;
}

table.ph-table-order-link tr th.title,
table.ph-table-download-links tr th.title {
	width: 10%;
}
table.ph-table-order-link tr th.link,
table.ph-table-download-links tr th.link {
	width: 90%;
}

.ph-col-add-suffix {
	font-size: xx-small;
	color: #555;
	text-align: center;
}
.ph-col-add-cur {
	font-size: xx-small;
	color: #555;
	text-align: right;
}

.ph-col-title-small {
    font-size: xx-small;
    color: #555;
    text-align: left;
}
.ph-inline-param {
	margin: auto 10px;
	float: left;
}

.ph-inline-param .field-calendar {
	display: inline-block;
}

/* Charts */
.ph-chart-canvas-holder {
	padding:5px;
}


.ph-chart-box-line {
	width: 92%;
}

.ph-chart-area-line {
	width:100%;
	height:auto;
}
.ph-chart-legend {
	text-align: center;
	margin: 0 auto;
	font-size: x-small;
	color: #555;
}
.ph-amount {
	background-color: #9ebecf;
	width: 2em;
	display: inline-block;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}
.ph-orders {
	background-color: #DCDCDC;
	width: 2em;
	display: inline-block;
	-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
}

.ph-btn-toolbar-2 {
	clear: right;
	padding-top: 10px;
}
.ph-select-status {
	padding-left: 5px;
}

.ph-table-td-left {
	padding-left: 5em;
	text-align:right;
}

.ph-admin-stat-row {
	background: #fff;
	margin-top: 1em;

}
.ph-admin-stat-box h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 7px;
}
.ph-admin-stat-box {
	text-align: left;
	padding: 7px;
}

.ph-stats-canvas {
	text-align: left;
}

.ph-float-right {
	float: right;
}
.ph-clear-right {
	clear:right;
}
.ph-float-icon {
	float: right;
}
.ph-float-icon-l {
	float: left;
}
.ph-float-default {
	float:right;
	margin-right: 30px;
}
.ph-float-default-header {
	float:right;
	margin-right: 45px;
}

.ph-icon-remove {
	color: #942A25;
	font-size: 130%;
}

.btn-xs {
	padding: 4px 7px 1px 5px !important;
}

.btn.btn-transparent {
	background: transparent !important;
	border: 1px solid transparent !important;
	box-shadow: none !important;
	padding: 3px !important;
}
.btn.btn-transparent:hover,
.btn.btn-transparent:focus,
.btn.btn-transparent:visited {
	background: transparent !important;
	border: 1px solid transparent !important;
	box-shadow: none !important;
}
.ph-icon-success {
	color: #378137;
	font-size: 130%;
}
.ph-icon-success-txt {
	color: #378137;
	font-size: 70%;
	margin-top: -7px;
	display: block;
}

.ph-icon-danger {
	color: #942A25;
	font-size: 130%;
}
.ph-icon-danger-txt {
	color: #942A25;
	font-size: 70%;
	margin-top: -7px;
	display: block;
}

.ph-icon-warning {
	color: #C67605;
	font-size: 130%;
}
.ph-icon-warning-txt {
	color: #C67605;
	font-size: 70%;
	margin-top: -7px;
	display: block;
}

.ph-stat-total {
	margin-top: 5px;
	border-top: 1px solid #fff;
	padding: 5px;
}



/* Full site overlay plus loader - used when reloading the page */
#phLoaderFull {
  margin: auto auto;
  top: 50%;
  font-size: 8px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid #C1E2F1;
  border-right: 1.1em solid #C1E2F1;
  border-bottom: 1.1em solid #C1E2F1;
  border-left: 1.1em solid #45A7D4;
  -webkit-animation: load8 1.3s infinite linear !important;
  animation: load8 1.3s infinite linear !important;
}
#phLoaderFull,
#phLoaderFull:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
  margin-top: -10em;

}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#phOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 10000;
	display:none;
}

.ph-br-small {
	font-size: 3px;
	height: 3px;
}
/*
.view-phocacartzones [class^="icon-"].ph-icon-earth::before,
.view-phocacartzones [class*=" icon-"].ph-icon-earth::before,
.view-phocacartzone [class^="icon-"].ph-icon-earth::before,
.view-phocacartzone [class*=" icon-"].ph-icon-earth::before,

.view-phocacartcountries [class^="icon-"].ph-icon-earth::before,
.view-phocacartcountries [class*=" icon-"].ph-icon-earth::before,
.view-phocacartcountry [class^="icon-"].ph-icon-earth::before,
.view-phocacartcountry [class*=" icon-"].ph-icon-earth::before,

.view-phocacartregions [class^="icon-"].ph-icon-earth::before,
.view-phocacartregions [class*=" icon-"].ph-icon-earth::before,
.view-phocacartregion [class^="icon-"].ph-icon-earth::before,
.view-phocacartregion [class*=" icon-"].ph-icon-earth::before,

.view-phocacartimports [class^="icon-"].ph-icon-import::before,
.view-phocacartimports [class*=" icon-"].ph-icon-import::before,
.view-phocacartexports [class^="icon-"].ph-icon-export::before,
.view-phocacartexports [class*=" icon-"].ph-icon-export::before,*/

/*
#ph-icon-text.ph-icon-text::before,
#ph-icon-pdf.ph-icon-pdf::before,
#ph-icon-wizard.ph-icon-wizard::before {

	font-style: normal;

}

.admin.com_phocacart [class^="icon-"].icon-earth::before,
.admin.com_phocacart [class*=" icon-"].icon-earth::before,
.admin.com_phocacart [class^="icon-"].icon-import::before,
.admin.com_phocacart [class*=" icon-"].icon-import::before,
.admin.com_phocacart [class^="icon-"].icon-export::before,
.admin.com_phocacart [class*=" icon-"].icon-export::before {


    font-style: normal;
}

.admin.com_phocacart [class^="icon-"].icon-earth::before,
.admin.com_phocacart [class*=" icon-"].icon-earth::before {

	content:"\e135";
}

.admin.com_phocacart [class^="icon-"].icon-import::before,
.admin.com_phocacart [class*=" icon-"].icon-import::before {

}
.admin.com_phocacart [class^="icon-"].icon-export::before,
.admin.com_phocacart [class*=" icon-"].icon-export::before {

}*/

#toolbar #toolbar-wizard {
    float: right;
}


.import-export-box {
	background: #fff;
	padding: 10px;
	border-radius: 3px;
}

.import-export-desc {
	margin-bottom: 5px;
}

.import-export .import-export-row {
	margin-left: 10px;
}
.import-export .import-export-row-message {
	margin-left: 0px;
}

.circle-active,
.circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: px;
    background: transparent;
    border: 4px solid #ccc;
    color: #ccc;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
	font-weight: bold;
	float: right;
}
.circle-active {
	border: 4px solid #5FBA7D;
    color: #5FBA7D;
}


/*
.ph-option-box input{
	border: 1px solid #fff !important;
}
*/
/*
table tr td,
tr td,
td,
.span1, .span2,
.col-xs-12 {
	border: 1px solid red !important;
}
*/
.ph-vertical-align {
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
}
.ph-vertical-align-single {
	margin-top: 5%;
}


#phAdminView .modal-body {
	padding: 10px;
}
/*
#phWizardStatusModal .modal-header,
#phWizardStatusModal .modal-footer,*/
#phWizardStatusModal .modal-body {
	background: url('../../images/administrator/bg-wizard.jpg') no-repeat top center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.ph-body-iframe-wizard {
	background: transparent;
}

.ph-body-iframe-wizard div .ph-modal-content-header {
	color: #fff;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

/*
#phWizardStatusModal .modal-body{overflow: hidden !important;}
#phEditStatusModal .modal-body{overflow: hidden !important;}
#phViewCartModal .modal-body{overflow: hidden !important;}
.ph-body-iframe-wizard { height: auto;}*/

.ph-wizard-start-page-box {
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	border-radius: 5px;
	padding: 10px;
}
.ph-wizard-start-page-window {
	padding-top: 5px;
}
.ph-wizard-start-page-window.firstpage {
	color: #fff;
}
.ph-wizard-start-page-window.nextpage {
	color: #000;
}
.ph-wizard-start-page-window.nextpage a,
.ph-wizard-start-page-window.nextpage a:hover,
.ph-wizard-start-page-window.nextpage a:focus,
.ph-wizard-start-page-window.nextpage a:visited {
	color: #000;
	text-decoration: underline;
}

.ph-wizard-start-page-window a,
.ph-wizard-start-page-window a:hover,
.ph-wizard-start-page-window a:focus,
.ph-wizard-start-page-window a:visited {
	color: #fff;
	text-decoration: underline;
}

.ph-wizard-start-page-window a.btn,
.ph-wizard-start-page-window a.btn:hover,
.ph-wizard-start-page-window a.btn:focus,
.ph-wizard-start-page-window a.btn:visited {
	text-decoration: none;
	width: 13em;
	color: #fff;
}

.ph-wizard-top-text {
	margin-top: 15px;
	margin-bottom: 15px;
}

.ph-wizard-center-button {
	margin: auto;
	text-align: center;
	margin: 10px auto;
}

.ph-wizard-center-button .ph-btn {
	background: rgba(0,0,0, 0.4) !important;
	border: 2px solid #fff !important;
}

.ph-wizard-center-button .ph-btn:hover,
.ph-wizard-center-button .ph-btn:focus,
.ph-wizard-center-button .ph-btn:visited {
	background: rgba(0,0,0, 1) !important;
	border: 2px solid #fff !important;
}

.ph-wizard-row div{
	padding: 5px 5px;
}
.ph-wizard-row {
	border-bottom: 1px solid #f7f7f7;
}

.ph-true {
	color: #449C44;
	font-weight: bold;
}
.ph-false {
	color: #E1302D;
	font-weight: bold;
}

#phResultWizardAll {

	background: #DFF0D8;
	color: #449c44;
	margin-bottom: 10px;
	font-weight: bold;
	border-left: 5px solid #449c44;

}
#phResultWizardAll div {
	margin: 10px;
}

.ph-modal-header {
	margin: 20px 5px 5px 0px;
}

.ph-header-table {
	border-bottom: 3px solid #f7f7f7;
}
.ph-body-table,
.ph-footer-table {
	border-bottom: 1px solid #f7f7f7;
}

.ph-edit-price-history-box,
.ph-edit-stock-advanced-box {
	padding: 10px;
}

.ph-item-input-set-attributes .ph-checkbox {
	padding-top: 0px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: -5px;
}

.ph-icon-white::before {
	color: #fff !important;
}

.ph-attribute-option-item {
    border: 1px solid #3BAFDA;
    color: #fff;
    background: #3BAFDA;
	padding: 3px;
	border-radius: 3px;
	font-weight: bold;
}

.ph-attribute-option-box tr td input {
	margin: 3px;
}

.ph-attribute-option-box,
.ph-attribute-option-box tr td,
.ph-attribute-option-box tr th {
	padding: 5px;
}


#phAdminView .approved {
	opacity: 1;
}
#phAdminView .not-approved {
	opacity: 0.5;
}


.ph-pull-left {
	float: left;
}
.ph-pull-right {
	float: right;
}

.ph-important-text {
	color: #a94442;
	font-weight: bold;
}



.ph-order-info-box .label {
	margin: 1px;
}

.ph-no-wrap {
	white-space: nowrap;
}

table.ph-report-table {
	padding: 3px;
	border: 1px solid #f0f0f0;
	width: 100%;
}

table.ph-report-table,
table.ph-report-table tr,
table.ph-report-table tr td {
	padding: 3px;
	border: 1px solid #f0f0f0;
}

table.ph-report-table tr th {
	padding: 5px;
	color: #129ED9;
	border: 1px solid #f0f0f0;
	border-bottom: 3px solid #129ED9;

}

table.ph-report-table tr td {
	padding: 0.2em 1em;
}

.ph-report-product-attributes {
	font-size: small;
	color: #777;
}

.ph-report-brutto,
.ph-report-tax,
.ph-report-netto,
.ph-report-rounding {
	text-align: right;
}

.ph-report-quantity,
.ph-report-currency {
	text-align: center;
}
.ph-report-product-title {
	text-align: left;
}

table.ph-report-table tr#phReportTotalRow0{
	border-top: 3px solid #f0f0f0;
}
table.ph-report-table tr.ph-report-total-row td {
	background: #ffffbf;
	vertical-align: top;
	text-align: right;
	padding: 0.2em 1em;
	font-weight: bold;
}
table.ph-report-table tr.ph-report-total-row td.ph-report-total-col1 {
	text-align: left;
	padding: 0.2em 1em;
	font-weight: bold;
	vertical-align: middle;
}


/*
.ph-product-attribute-download-title {
	text-align: right;
}

.ph-product-attribute-new-row {
	margin-top: 3px;
}*/





/* Tooltip container */
.ph-tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.ph-tooltip .ph-tooltiptext {
  visibility: hidden;
  width: 14em;
  background-color: #fff;
  border: 1px solid #f0f0f0;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.1);
  color: #000;
  text-align: center;
  padding: 0.2em;

  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  /*margin-left: -7em; /* Use half of the width (120/2 = 60), to center the tooltip */
  margin-left: -2em;
}

.ph-tooltiptext.phTooltipImagePreview img {
	max-width: 10em;
	height: auto;
}

/* Show the tooltip text when you mouse over the tooltip container */
.ph-tooltip:hover .ph-tooltiptext {
  visibility: visible;
}

#phAdminEdit .form-horizontal .tab-content {

	position: relative;
}

.ph-admin-additional-box-img-box {
	text-align: center;
}

.ph-admin-additional-box img {
	margin: 0 auto;
}

.ph-warning-modal-window {
	margin-right: 2em;
	background: #ff8000;
	color: #fff;
	padding: 0.3em;
}

.ph-edit-stock-advanced-box .form-horizontal .controls {
	margin-left:0;
}

.ph-edit-stock-advanced-box .control-label {
	display:none;
}

#phEditStockAdvancedBox input.input-mini {
    width: 4em;
}

#phEditStockAdvancedBox .inputbox.imageCreateThumbs {
   /* width: 8em;*/
}
#phEditStockAdvancedBox th small {
	display:none;
}


#phEditStockAdvancedBox table tr th:first-child,
#phEditStockAdvancedBox table tr td:first-child,
#phEditStockAdvancedBox table tr th:nth-child(2),
#phEditStockAdvancedBox table tr td:nth-child(2),
#phEditStockAdvancedBox table tr th:nth-child(3),
#phEditStockAdvancedBox table tr td:nth-child(3),
#phEditStockAdvancedBox table tr th:last-child,
#phEditStockAdvancedBox table tr td:last-child {
    display:none;
}





#phocacarttools .ph-admin-box-content {
	background-color: #fff;
}
.phAjaxOutputBox {
	height: 45vh;
	width: 100%;
	border: 1px solid #ddd;
	overflow-x: auto;

}

.phAjaxOutputBox .alert {
	margin-bottom: 2px;
}

.ph-bulk-price-title {
	font-weight: bold;
}

.ph-bulk-price-arrow {
	background-color: #ff8000;
	font-weight: bold;
	color: #fff;
	padding-left: 1em;
	padding-right: 1em;
}



/* CP Info */
.ph-box-cp {
	display: flex;
}

.ph-left-cp {
	flex-basis: 50%;
}

.ph-right-cp {
	flex-basis: 50%;
}


/* CP Icons */

.ph-cp-item-box {
	display: flex;
	flex-wrap: wrap;
}
.ph-cp-item {
	width: 7rem;
	margin: 0 0.7em 1.4em 0.7em;
}

.ph-cp-item-icon {
	background: #fff;
	border-radius: 5px;

	width: 7rem;
	height: 7rem;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 0;
	background-image: linear-gradient(-45deg,#ffffff,#ffffff);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.15);
}

.ph-cp-item-icon-link {
	width: 7rem;
	height:7rem;
	display: flex;
}

.ph-cp-item-icon-link,
.ph-cp-item-icon-link:hover,
.ph-cp-item-icon-link:active,
.ph-cp-item-icon-link:visited,
.ph-cp-item-icon-link:focus {
	color: #A6AAB1;
	text-decoration: none;
}

.ph-cp-item-icon-link span {
	border: 0px;
	box-shadow: none;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	text-align: center;
}

.ph-cp-item-icon-link:hover {
	border: 0px;
	box-shadow: none;
}

.ph-cp-item-icon-link-large {
	font-size: 2.6rem;
	width: 2.6rem;
	height:2.6rem;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ph-cp-item-title {

	display:block;
	font-size: 0.95em;
	margin: 0 auto;
	margin-top: 0.1em;
	text-align: center
}

.ph-cp-item-icon-link-large {
   text-shadow:
   -2px -2px 0 #575757,
    2px -2px 0 #575757,
    -2px 2px 0 #575757,
     2px 2px 0 #575757;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}
@-moz-document url-prefix() {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}

.ph-cp-item-icon-link-large:before {
	font-family: 'JoomlaFont' !important;
}

.ph-cp-item [class^="icon-"],
.ph-cp-item [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    margin-right: auto;
    line-height: 1;
}

.ph-cp-item [class^="icon-"].duotone:after, .ph-cp-item [class*=" icon-"].duotone:after {
  opacity: 0.6;
}




.ph-action-inline-icon-box {
	white-space: nowrap;

}
.ph-action-inline-icon-box a {
	margin-right: 0.3em;
}



#phAdminEdit .form-horizontal .tab-content {
	position: relative;
}
/*
.ph-admin-additional-box {

	position: absolute;
	top: 0.3em;
	right: 0.3em;
	padding: 1em;
	background: #f0f0f0;
	/*z-index: 1;*//*
}*/

.view-phocamenurawedit #phAdminEdit .form-horizontal .tab-content .ph-admin-additional-box,
.view-phocamenumultipleedit #phAdminEdit .form-horizontal .tab-content .ph-admin-additional-box {
	position: relative;
	float: right;
}

.view-phocamenurawedit #phAdminEdit .form-horizontal .tab-content .alert,
.view-phocamenumultipleedit #phAdminEdit .form-horizontal .tab-content .alert {
	width: 50%;
}

.ph-admin-additional-box-img-box {
	text-align: center;
}

.ph-admin-additional-box img {
	margin: 0 auto;
}

.ph-float-right {
	float: right;
}


/* Additional Box */
.ph-admin-additional-box-img-box {
	text-align: center;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
	padding: 0.25rem;
	background: #fff;
	margin: 0 auto;
}

.ph-admin-additional-box-img-box img {
	margin: 0 auto;
}

.ph-admin-additional-box {
	border-radius: 0.25em;
	margin: 0 0 0.75em 0.75em;
	padding: 0.5em;
	background:#ffde7d;
}

.ph-admin-additional-box.ph-box-warning {
	background:#eebfbe;
}
.ph-admin-additional-box.ph-box-info {
	background:#dbe4f0;
}

.ph-admin-additional-box-margin {
	margin-right: 40%;
}

@media (max-width: 768px) {
	.ph-admin-additional-box {
		float: none;
		width: 100%;
		margin: 0 0 0.75em 0;
	}

	.ph-admin-additional-box-margin {
		margin-right: auto;
	}
}


/* CP Info */
.ph-box-info {
	background: #fff;
	padding: 1em;
}
.ph-box-cp {
	display: flex;
}

.ph-left-cp {
	flex-basis: 55%;
}

.ph-right-cp {
	flex-basis: 45%;
}

@media (max-width: 768px) {
	.ph-box-cp { display:block;}
}

.ph-cp-hr {
	border-top: 3px solid #eee;
	margin-bottom: 1em;
}
.ph-cpanel-logo {
	margin-bottom: 1em;
}
.ph-cpanel-logo img {
	/*transform: scale(0.6);
	transform-origin: 0 50%;*/
	width: 16rem;
	height: auto;
}

.ph-cpanel-logo-seal {
	float: right;
	margin: 0.7em;
}
.ph-cpanel-logo-seal img {
	width: 90%;
	height: auto;
}


/* CP Icons, Joomla! Font Icons */
.ph-cp-item-box {
	display: flex;
	flex-wrap: wrap;
}


.ph-cp-item-box .ph-cp-item {
	width: 7rem;
	margin: 0 0.7em 1.4em 0.7em;
}

.ph-cp-item-icon {
	background: #fff;
	border-radius: 5px;

	width: 7rem;
	height: 7rem;
	text-align: center;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 0;
	background-image: linear-gradient(-45deg,#ffffff,#ffffff);
    box-shadow: 1px 2px 1px 0 rgba(0,0,0,.15);
}

.ph-cp-item-icon-link {
	width: 7rem;
	height:7rem;
	display: flex;
}

.ph-cp-item-icon-link,
.ph-cp-item-icon-link:hover,
.ph-cp-item-icon-link:active,
.ph-cp-item-icon-link:visited,
.ph-cp-item-icon-link:focus {
	color: #A6AAB1;
	text-decoration: none;
}

.ph-cp-item-icon-link span {
	border: 0px;
	box-shadow: none;
	border-radius: 50%;
	width: 5rem;
	height: 5rem;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	text-align: center;
}

.ph-cp-item-icon-link:hover {
	border: 0px;
	box-shadow: none;
}

.ph-cp-item-icon-link-large {
	font-size: 2.6rem;
	width: 2.6rem;
	height:2.6rem;

	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ph-cp-item-title {

	display:block;
	font-size: 0.95em;
	margin: 0 auto;
	margin-top: 0.1em;
	text-align: center
}

.ph-cp-item-icon-link-large {
   text-shadow:
   -2px -2px 0 #575757,
    2px -2px 0 #575757,
    -2px 2px 0 #575757,
     2px 2px 0 #575757;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}
@-moz-document url-prefix() {
	.ph-cp-item-icon-link-large {
		/*-webkit-text-stroke: 2px #575757;*/
		text-shadow: none;
	}
}
/*
.ph-cp-item-icon-link-large:before {
	font-family: 'JoomlaFont' !important;
}

.ph-cp-item [class^="icon-"],
.ph-cp-item [class*=" icon-"] {
    display: inline;
    width: auto;
    height: auto;
    margin-right: auto;
    line-height: 1;
}

.ph-cp-item [class^="icon-"].duotone:after, .ph-cp-item [class*=" icon-"].duotone:after {
  opacity: 0.6;
}
*/

.pha-toolbox {
	width: 4rem;
}
.pha-toolbox a {
	display: inline-block;
	margin: 0.1em;
	margin-bottom: 0.3em;
	padding: 0;
	font-weight: bold;
}

.pha-no-underline,
.pha-no-underline:hover {
	text-decoration: none !important;
}

.ph-cp-item {
	text-align: center;
}

.ph-cp-item [class^="icon-"].phi-fs-s,
.ph-cp-item [class*=" icon-"].phi-fs-s {
	font-size: 1rem;
	width: 1rem;
	height: 1rem;
	display: inline-block;
	margin: auto;
}

.ph-cp-item [class^="icon-"].phi-fs-m,
.ph-cp-item [class*=" icon-"].phi-fs-m {
	font-size: 1.4rem;
	width: 1.4rem;
	height: 1.4rem;
	display: inline-block;
	margin: auto;
}
.ph-cp-item [class^="icon-"].phi-fs-l,
.ph-cp-item [class*=" icon-"].phi-fs-l {
	font-size: 3.6rem;
	width: 3.6rem;
	height: 3.6rem;
	display: inline-block;
	margin: auto;
}
.phi-fc-bl {color: #3f72af}
.phi-fc-bd {color: #112d4e}
.phi-fc-rl {color: #e23e57}
.phi-fc-rd {color: #CC1020}
.phi-fc-yl {color: #ffde7d}
.phi-fc-yd {color: #ffc314}
.phi-fc-brl{color: #D2BDA9}
.phi-fc-brd{color: #996633}
.phi-fc-od {color: #ff9a00}
.phi-fc-gd {color: #378137}
.phi-fc-gl {color: #62bc62}


.phi-mirror:before,
.phi-mirror:after {
	display:inline-block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.nav.nav-tabs .ph-cp-item .phi:before,
.nav.nav-tabs .ph-cp-item .phi:after {
	margin-top: 0.2em;
}


.js-stools .js-stools-container-bar .btn-wrapper {
	margin: 0 3px;
	padding: 3px 0px;
 }

 .ph-info-item .icon-minus-circle {
	 color: #a94442;
 }
 .ph-info-item .icon-success {
	 color: #3c763d;
 }

 .ph-si-tab {
	width: 1.1em;
	height: 1.1em;
}
.pd-icon-category {color: #F9C74F;}


#adminForm .table tr th {
	font-size: small;
}

.ph-recommended-settings-table tr.alert.alert-danger {
    border: 0;
}
.ph-recommended-settings-table tr td [class^="icon-"].duotone:before,
.ph-recommended-settings-table tr td [class*=" icon-"].duotone:before{
    position: relative;
}

.ph-cb {
	clear:both;
}
.ph-cp-logo-footer {
	float:right;
	margin: 0.5em;
}
.ph-cp-btn-update {
	float: left;
	margin: 0 0.3em 0.3em 0;
}



.ph-tools,
.ph-tools-td {
	width: 1%;

}

.ph-tools-td .ph-cp-item {
	margin:0;
	padding:0;
	width: auto;
}

.phc-red, .ph-msg-error {color: #a60000;}
.ph-msg-error-box {
	padding: 1em;
	border-radius: 3px;
	background-color: #ffa3a3;
	color: #a60000;
}

.phc-grey {color: #555555}
.phc-green, .ph-msg-success {color: #559d22;}
.ph-msg-success-box {
	padding: 1em;
	border-radius: 3px;
	background-color: #daf3c9;
	color: #559d22;
}

.phc-orange {color:orange;}
.phc-brown {color: #a5572a;}

.ph-intendation {
	display: inline-block;
}

a[target=_blank]::before {
	content: "";
}

.ph-icon-task i {
	font-size: 26px;
}


/* Two rows joined, Shipping Info, Payment Info */
/*
.ph-tr-prefix {
	border-bottom: 1px solid transparent;
}
.ph-tr-prefix td {
	border-bottom: 1px solid transparent;
}
.ph-tr-suffix {
	border-top: 1px solid transparent;
}
.ph-tr-suffix td {
	border-top: 1px solid transparent;
}*//*
.table-striped.join > tbody > tr.ph-tr-suffix:nth-child(4n) > *,
.table-striped.join > tbody > tr:nth-child(4n-1) > *{
    --table-accent-bg: #fff;
    color: var(--table-striped-color);
}
.table-striped.join > tbody > tr:nth-child(4n-2) > *,
.table-striped.join > tbody > tr:nth-child(4n-3) > * {
    --table-accent-bg: var(--table-striped-bg);
    color: var(--table-striped-color);

}*/

.table-striped.join > tbody > tr:nth-child(4n-1) > * {
	border-bottom: 1px solid #fff;
	padding-bottom: 0;
}
.table-striped.join > tbody > tr:nth-child(4n-3) > * {
	border-bottom: 1px solid var(--table-striped-bg);
	padding-bottom: 0;
}

.ph-order-info-box h4 {
	text-decoration: underline;
	font-size: 100%;
}
.ph-order-info-box {
	display: flex;
	flex: 1 1 50%;
	flex-wrap: wrap;
	font-size: 80%;
}
.ph-order-info-box .form-control {
	font-size:100%;
	max-width: 6em;
	padding: 0.2em;
	text-align: center;
	margin: 0.1em;
}
.ph-order-info-box label {
	font-size: 100%;
}
.ph-order-info-box-payment,
.ph-order-info-box-shipping {
	min-width: 50%;
	padding: 0 0.5em 0 0.5em;
}

.ph-order-info-box-label {
	min-width: 4em;
	display: inline-block;
}


.ph-order-edit-user-info-header {
	font-weight: bold;
}

.ph-order-edit-shipping-info,
.ph-order-edit-payment-info,
.ph-order-edit-user-info {
    border-radius: 0.25em;
    padding: 1em;
    background: #ffde7d;
}

.ph-order-edit-shipping-info .ph-item,
.ph-order-edit-payment-info .ph-item,
.ph-order-edit-user-info .ph-item{
	display: flex;
}

.ph-order-edit-shipping-info .ph-item .ph-label,
.ph-order-edit-payment-info .ph-item .ph-label,
.ph-order-edit-user-info .ph-item .ph-label{
	font-weight: bold;
	width: 25%;
}

.ph-order-edit-shipping-info .ph-item .ph-value,
.ph-order-edit-payment-info .ph-item .ph-value,
.ph-order-edit-user-info .ph-item .ph-value{

}


.ph-ai-question-item {
	display: flex;
	margin: 0.5em;
}

.ph-ai-paste-item {
	display:flex;
	align-items: center;
	justify-content: end;
	margin: 0.5em;
}

.ph-ai-content-item {
	margin: 0.5em;
}

.ph-ai-content-item textarea {
	min-height: 8em;
}

.ph-ai-question-item-field,
.ph-ai-paste-item-text {
	margin-right: 1em;
}

.ph-ai-message-box {
	margin-bottom: 1em;
}

.ph-link {
	text-decoration: underline;
}

.ph-attributes-options-link-box {
	display: flex;
	justify-content: end;

}
.ph-attributes-options-link {
	text-decoration: underline;
}

.ph-attributes-options-box {
	display: flex;
	flex-wrap: wrap;
}

.ph-attributes-options-box a {
	margin: 0.2em;
}

/* select search */
.ph-select-search-result {
	display: grid;
	gap: 0 .5rem;
	grid-template-columns: 100px 1fr;
}

.select2-result:nth-child(2n) .ph-select-search-result {
	background: rgba(var(--emphasis-color-rgb),.05);
}

.ph-select-search-result-image {
	grid-row: 1 / 5;
}

.ph-select-search-result-image img {
	max-width: 100%;
}

.ph-select-search-result-codes {
	font-size: .8em;
}

.ph-select-search-result-categories {
	font-size: .8em;
	opacity: .8;
}

.ph-par-related .table-responsive {
	overflow: visible;
}

.ph-par-related table .control-group {
	margin: 0;
}

.ph-par-related table .control-group {
	margin: 0 !important;;
}

.ph-par-related table tbody td {
	padding: 0.25rem !important;
	border: none;
}

.ph-par-related table tbody tr:nth-child(2n + 1) td {
	background: rgba(var(--emphasis-color-rgb),.05);
}

.ph-fieldset-attribute-title,
.ph-fieldset-specification-title,
.ph-fieldset-specification-price,
.ph-fieldset-specification-stock,
.ph-fieldset-specification-weight {
	display: flex;

	.control-group {
		display: block;
		flex: 1;
	}

	.control-group.hidden {
		display: none;
	}
}

.ph-fieldset-attribute-publish,
.ph-fieldset-specification-publish {
	display: flex;
}

.ph-price-box {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.ph-price-box .ph-price-txt {
	font-weight: bold;
}

.ph-price-box .ph-price {
	text-align: right;
}

.ph-pro-box {
	border-radius: 3px;
	background: #f5f5f5;
	padding: 2em;
}

.ph-pro-label {
	background: #dc3650;
	color: #fff;
	font-weight: bold;
	border-radius: 3px;
	padding: 0.15em 0.5em;
}

/* Hide objects in edit - administration - Product edit example */

/* Entire tab *//*
#phocacartitem joomla-tab-element#general, #phocacartitem joomla-tab button[aria-controls="general"],
#phocacartitem joomla-tab-element#image, #phocacartitem joomla-tab button[aria-controls="image"],
#phocacartitem joomla-tab-element#attributes, #phocacartitem joomla-tab button[aria-controls="attributes"],
#phocacartitem joomla-tab-element#specifications, #phocacartitem joomla-tab button[aria-controls="specifications"],
#phocacartitem joomla-tab-element#related, #phocacartitem joomla-tab button[aria-controls="related"],
#phocacartitem joomla-tab-element#stock, #phocacartitem joomla-tab button[aria-controls="stock"],
#phocacartitem joomla-tab-element#discount, #phocacartitem joomla-tab button[aria-controls="discount"],
#phocacartitem joomla-tab-element#download, #phocacartitem joomla-tab button[aria-controls="download"],
#phocacartitem joomla-tab-element#size, #phocacartitem joomla-tab button[aria-controls="size"],
#phocacartitem joomla-tab-element#reward, #phocacartitem joomla-tab button[aria-controls="reward"],
#phocacartitem joomla-tab-element#publishing, #phocacartitem joomla-tab button[aria-controls="publishing"],
#phocacartitem joomla-tab-element#feed, #phocacartitem joomla-tab button[aria-controls="feed"],
#phocacartitem joomla-tab-element#metadata, #phocacartitem joomla-tab button[aria-controls="metadata"] {
	display: none;
}

/* Individual parameters *//*
#phocacartitem .ph-par-title,
#phocacartitem .ph-par-alias,
#phocacartitem .ph-par-price,
#phocacartitem .ph-par-price_original,
#phocacartitem .ph-par-tax_id,
#phocacartitem .ph-par-catid_multiple,
#phocacartitem .ph-par-catid,
#phocacartitem .ph-par-manufacturer_id,
#phocacartitem .ph-par-sku,
#phocacartitem .ph-par-upc,
#phocacartitem .ph-par-ean,
#phocacartitem .ph-par-jan,
#phocacartitem .ph-par-mpn,
#phocacartitem .ph-par-isbn,
#phocacartitem .ph-par-serial_number,
#phocacartitem .ph-par-registration_key,
#phocacartitem .ph-par-external_id,
#phocacartitem .ph-par-external_key,
#phocacartitem .ph-par-external_link,
#phocacartitem .ph-par-external_text,
#phocacartitem .ph-par-external_link2,
#phocacartitem .ph-par-external_text2,
#phocacartitem .ph-par-access,
#phocacartitem .ph-par-group,
#phocacartitem .ph-par-featured,
#phocacartitem .ph-par-featured_background_image,
#phocacartitem .ph-par-video,
#phocacartitem .ph-par-public_download_file,
#phocacartitem .ph-par-public_download_text,
#phocacartitem .ph-par-public_play_file,
#phocacartitem .ph-par-public_play_text,
#phocacartitem .ph-par-condition,
#phocacartitem .ph-par-type_feed,
#phocacartitem .ph-par-type_category_feed,
#phocacartitem .ph-par-description,
#phocacartitem .ph-par-description_long,
#phocacartitem .ph-par-features,
#phocacartitem .ph-par-special_parameter,
#phocacartitem .ph-par-special_image {
	display: none;
}

/* Additional box *//*
#phocacartitem joomla-tab-element#general .ph-admin-additional-box {
	display: none;
}


/* Hide items for specific group only - e.g. Managers with ID 6*//*
#phocacartitem.group-6 joomla-tab-element#publishing, #phocacartitem.group-6 joomla-tab button[aria-controls="publishing"],
#phocacartitem.group-6 joomla-tab-element#image, #phocacartitem.group-6 joomla-tab button[aria-controls="image"],
#phocacartitem.group-6 joomla-tab-element#attributes, #phocacartitem.group-6 joomla-tab button[aria-controls="attributes"] {
	display: none;
}

#phocacartitem.group-6 .ph-par-title,
#phocacartitem.group-6 .ph-par-alias,
#phocacartitem.group-6 .ph-par-price_original {
	display: none;
}

/*Making tab active in case it is not the first tab*//*
#phocacartitem.group-6 joomla-tab > joomla-tab-element#publishing {
    display: block;
}
*/
