/*
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin-ext');


.admin.com_phocacart input, 
.admin.com_phocacart button, 
.admin.com_phocacart select, 
.admin.com_phocacart textarea {
	font-family: "Roboto", -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
.admin.com_phocacart {
	font-family: "Roboto", -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	font-size: 86% !important;
}
.admin.com_phocacart .small{
	font-size: 96% !important;
}
.ph-editinplace-text {
	display: block;
	min-height: 2.7em;
	font-size: 96% !important;
}

#j-main-container {
	padding: 20px !important;
}
*/


.container-main {
	background: transparent;
	margin-top: -10px;
	padding-left: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 10px !important;
}



.container-main section#content div.row-fluid {
	margin: 0px !important;
	
}


.ph-admin-box {
	margin: 0px !important;
	background: #F1F5F9;
	padding: 0px !important;
	display: flex;
  	flex-flow: row; 
  	flex-wrap: wrap;
	justify-content: left;
	align-items: top;
}

#system-message-container {
	background: transparent;
	padding-right: 5px !important;
	margin-top: 10px;
	margin-bottom: -18px;
}

#system-message-container.span10,
#system-message-container.span10 .alert {
	display:none !important;
	margin:0px !important;
	padding:0px !important;
}/*
#content #system-message-container {
	display: block !important;
}
*/

.ph-admin-box-menu {

	background: #fff;
	padding: 20px 0px 40px 10px;
	background: #2D353E;
	color: #fff;
	border-right: 1px solid #DFE8F1;
	border-top: 1px solid #DFE8F1;
	margin-top: -1px;
	font-size: 116%;
}

.ph-admin-box-content {
	padding: 20px;
	background: #F1F5F9;
	margin: 0px !important;
	margin-top: 10px !important;
}

.ph-admin-manage table {
	background: #fff;
	border-radius: 3px;
}
.ph-admin-manage table tr:nth-child(even) {
	background: #fcfcfc;
}

.nav.nav-list li {
	margin-top: 5px;
}

.ph-main-container {
	background:#f5f5f5 !important;
}



.subhead {
    background: #f5f5f5 !important;
    border-bottom: 1px solid #DFE8F1 !important;
	
   /* color: #0C192E;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,1);
    text-shadow: 0 1px 0 #FFF;
    margin-bottom: 10px;
    min-height: 43px;*/
}



.ph-cpanel-top-stats {
	text-align: center;

}





.ph-cpanel-color {
	display: flex;
	flex-direction: row wrap;
	justify-content: center;
	align-items: center;
	min-width: 140px;
	color: #fff;
	border-radius: 3px;
	border: 1px solid #DFE8F1;
    box-shadow: 0px 0px 1px 1px #eaf0f6;
}

.ph-cpanel-color-header {
	margin-top: 0px;
	letter-spacing: 0px;
	text-transform: uppercase;
	padding: 5px 0px 5px 3px;
	font-size: small;
	font-weight: lighter;
	text-align: center;
}
.ph-cpanel-color-header-block {
	padding: 5px 0px 5px 3px;
	text-align: center;
}

.ph-cpanel-stat-value {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 5px;
}

.ph-cpanel-color-right {
	width: 70%;
	text-align: center;
	background: rgba(0,0,0,0.1);
	border-radius: 0 3px 3px 0;
	
}

.ph-cpanel-color-left {
	width: 30%;
	text-align: center;
}

.ph-cpanel-color1 {
	background: #3DDCF7;
}
.ph-cpanel-color2 {
	background: #00B19D;
}
.ph-cpanel-color3 {
	background: #F76397;
}
.ph-cpanel-color4 {
	background: #7266BA;
}
.ph-cpanel-color5 {
	background: #FFAA00;
}
.ph-cpanel-color6 {
	background: #3BAFDA;
}




.ph-cpanel-color-left .glyphicon {

	font-size: 35px;
}


#phAdminEdit {
	padding: 20px;
}

#phAdminEdit .input-append.input-prepend .btn-prepend {
	border-radius: 3px 0px 0px 3px !important;
	height: 28px;
	padding-top: 5px;
}

#phAdminEdit .input-append .btn {
	border-radius: 0px 3px 3px 0px !important;
	height: 28px;
	padding-top: 5px;
}


#phAdminEdit .input-append .btn.button-select {
	border-radius: 0px 3px 3px 0px !important;
	height: 28px;
	padding-top: 4px;
}

#phAdminEdit .input-append .btn.button-clear {
	border-radius: 0px 3px 3px 0px !important;
	height: 28px !important;
	padding-top: 3px;
}




/* Icons CP */
.ph-icon-box {
}

.ph-icon-box,
.ph-icon-box a,
.ph-icon-box a:hover,
.ph-icon-box a:visited,
.ph-icon-box a:focus {
	color: #A6AAB1;
	text-decoration: none;
}

.ph-icon {
	margin: 0 auto;
	padding: 5px;
	
	margin: 0 auto;
	text-align: center;
	
}
.ph-icon-inside.thumbnail {
/*	min-width: 110px;
	min-height: 110px;
	text-align: center;
	border-radius: 0px;
	background: transparent;
	/*box-shadow: 0px 0px 0px 0px transparent;
	box-shadow: inset 0px 0px 0px 0px transparent;
	border: 3px solid #DFE8F1;*//*
	border: 0px;
	box-shadow: none;
	font-size: small;*/
	
	border: 0px;
	box-shadow: none;
}

.ph-cpanel-icon-box {
	margin-top: 20px;
}

.ph-cpanel-icon-box div .col-sm-3, 
.ph-cpanel-icon-box div .col-md-3,
.ph-cpanel-icon-box div .col-sm-6, 
.ph-cpanel-icon-box div .col-md-6,
.ph-cpanel-icon-box div .col-xs-12  {
    padding-left: 5px;
    padding-right: 5px;
}



.ph-icon-inside.thumbnail:hover {
	/*border: 3px solid #BCCFE1;
	box-shadow: 0px 0px 0px 0px transparent;
	box-shadow: inset 0px 0px 0px 0px transparent;*/
	border: 0px;
	box-shadow: none;
}
.ph-icon-inside.thumbnail img {
	margin-top: 10px;
	margin-bottom: -12px;
}
.ph-icon-inside.thumbnail span {}
.ph-icon-cp-large {
	font-size: 2.6rem;
	width: 2.6rem;
	height:2.6rem;
	
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.ph-icon-cp-title {
	margin-top: 2px;
	display:block;
	font-size: 12px;
}

.ph-icon-inside-box {
   background: #fff;
   border-radius: 50%;
   border: 1px solid #DFE8F1;
   width: 7rem;
	height: 7rem;
	text-align: center;
	margin: auto;
	padding-top: 1.9rem;
  box-shadow: 0px 0px 1px 1px #eaf0f6;
 
}

.ph-icon-inside .ph-icon-cp-large {
   
   /*color: #cddcea !important;*/
	

}
.ph-icon-inside .ph-icon-cp-large {
   text-shadow:
   -1px -1px 0 #333,  
    1px -1px 0 #333,
    -1px 1px 0 #333,
     1px 1px 0 #333;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.ph-icon-inside .ph-icon-cp-large {
		-webkit-text-stroke: 1px #333;
		text-shadow: none;
	}
}
@-moz-document url-prefix() {
	.ph-icon-inside .ph-icon-cp-large {
		-webkit-text-stroke: 1px #333;
		text-shadow: none;
	}
}

.ph-icon-inside .ph-icon-cp-large:before {

}

/* Chart */
.ph-cpanel-chart-box {
	margin-top: 25px;
	margin-left: 0px;
	margin-right: 0px;
	border-radius: 3px;
	padding-left: 7px;
	background: #ffffff;
	border: 1px solid #DFE8F1;
}

.ph-cpanel-info-box,
.ph-cpanel-tips-box {
	margin-top: 25px;
	margin-left: 0px;
	padding: 20px;
	border-radius: 3px;
	background: #ffffff;
	border: 1px solid #DFE8F1;
}


/* Icons next to menu items - menu icons */
.nav.nav-list li:before {
	font-family: 'Glyphicons Halflings';
	color: #A6AAB1;
    content: "\e021";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(2):before {
	font-family: 'Glyphicons Halflings';
	color: #c1a46d;
    content: "\e117";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(3):before {
	font-family: 'Glyphicons Halflings';
	color: #da7400;
    content: "\e118";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(4):before {
	font-family: 'Glyphicons Halflings';
	color: #4e5f81;
    content: "\e012";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(5):before {
	font-family: 'Glyphicons Halflings';
	color: #ff7d49;
    content: "\e021";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(6):before {
	font-family: 'Glyphicons Halflings';
	color: #0099cc;
    content: "\e116";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(7):before {
	font-family: 'Glyphicons Halflings';
	color: #c1976d;
    content: "\e023";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(8):before {
	font-family: 'Glyphicons Halflings';
	color: #777777;
    content: "\e137";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(9):before {
	font-family: 'Glyphicons Halflings';
	color: #afbb6a;
    content: "\e040";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(10):before {
	font-family: 'Glyphicons Halflings';
	color: #478CD1;
    content: "\e135";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(11):before {
	font-family: 'Glyphicons Halflings';
	color: #01868B;
    content: "\e135";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(12):before {
	font-family: 'Glyphicons Halflings';
	color: #a5dee5;
    content: "\e135";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(13):before {
	font-family: 'Glyphicons Halflings';
	color: #4f9ce2;
    content: "\e177";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(14):before {
	font-family: 'Glyphicons Halflings';
	color: #dca300;
    content: "\20ac";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(15):before {
	font-family: 'Glyphicons Halflings';
	color: #dd5500;
    content: "\e109";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}



.nav.nav-list li:nth-child(16):before {
	font-family: 'Glyphicons Halflings';
	color: #7faa7f;
    content: "\e008";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(17):before {
	font-family: 'Glyphicons Halflings';
	color: #aa7faa;
    content: "\e008";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(18):before {
	font-family: 'Glyphicons Halflings';
	color: #7faaaa;
    content: "\e124";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(19):before {
	font-family: 'Glyphicons Halflings';
	color: #ffde00;
    content: "\e032";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(20):before {
	font-family: 'Glyphicons Halflings';
	color: #399ed0;
    content: "\e111";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(21):before {
	font-family: 'Glyphicons Halflings';
	color: #FF6685;
    content: "\e102";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(22):before {
	font-family: 'Glyphicons Halflings';
	color: #aa56fe;
    content: "\e225";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
	font-weight: bold;
}

.nav.nav-list li:nth-child(23):before {
	font-family: 'Glyphicons Halflings';
	color: #33af49;
    content: "\e025";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(24):before {
	font-family: 'Glyphicons Halflings';
	color: #CC0033;
    content: "\e041";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(25):before {
	font-family: 'Glyphicons Halflings';
	color: #ffb300;
    content: "\e122";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(26):before {
	font-family: 'Glyphicons Halflings';
	color: #EA7C7C;
    content: "\e005";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(27):before {
	font-family: 'Glyphicons Halflings';
	color: #9900CC;
    content: "\e085";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(28):before {
	font-family: 'Glyphicons Halflings';
	color: #73b9ff;
    content: "\e023";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(29):before {
	font-family: 'Glyphicons Halflings';
	color: #c1756d;
    content: "\e185";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(30):before {
	font-family: 'Glyphicons Halflings';
	color: #8c0069;
    content: "\e032";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(31):before {
	font-family: 'Glyphicons Halflings';
	color: #fb1000;
    content: "\e210";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(32):before {
	font-family: 'Glyphicons Halflings';
	color: #668099;
    content: "\e169";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}
.nav.nav-list li:nth-child(33):before { 
	font-family: 'Glyphicons Halflings';
	color: #669999;
    content: "\e170";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(34):before {
	font-family: 'Glyphicons Halflings';
	color: #c0c0c0;
    content: "\e056";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(35):before {
	font-family: 'Glyphicons Halflings';
	color: #3378cc;
    content: "\e086";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(36):before {
	font-family: 'Glyphicons Halflings';
	color: #2693ff;
    content: "\e010";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(37):before {
	font-family: 'Glyphicons Halflings';
	color: #b30059;
    content: "\e008";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(38):before {
	font-family: 'Glyphicons Halflings';
	color: #b35900;
    content: "\e157";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}

.nav.nav-list li:nth-child(39):before {
	font-family: 'Glyphicons Halflings';
	color: #ff9326;
    content: "\e237";
    float:left;
    margin-right: 5px;
    margin-top: 2px;
}




/* Sidebar */

.nav.nav-list li:before {
   text-shadow:
   -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
	color: #000 !important;
	font-size: 120%;
	padding-top: 5px;
	padding-left: 10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
	.nav.nav-list li:before {
		-webkit-text-stroke: 1px #fff;
		text-shadow: none;
	}
}

@-moz-document url-prefix() {
	.nav.nav-list li:before {
		-webkit-text-stroke: 1px #fff;
		text-shadow: none;
	}
}

.sidebar-nav .nav-list {
    padding: 0px !important;
}
.nav-list {
   margin: 0px !important;
}



.sidebar-nav .nav-list > li > a {
    color: #fff !important;
   /* padding: 7px 10px 7px 44px !important;
	margin: -5px -5px -5px -10px !important;
	/*width: 90%;*/
	margin: 0px  !important;
	padding: 7px 10px 7px 40px !important;
	margin: -5px 10px -5px 0px !important;
}


.sidebar-nav .nav-list > li > a:focus, .sidebar-nav .nav-list > li > a:hover,
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus {
    
	
    text-shadow: 0px 0px 0px 0px transparent !important;
    text-shadow: none !important;
    background-color: #2D6CA2 !important;
	

}

.sidebar-nav .nav-list > li > a, .sidebar-nav .nav-list .nav-header {
    text-shadow: none;
	color: #fff;
	
}


.sidebar-nav .nav-list > li.active > a {
   

}

.sidebar-nav .nav-list > .active > a, .sidebar-nav .nav-list > .active > a:hover, .sidebar-nav .nav-list > .active > a:focus {
    
	background-color: #2D6CA2 !important;
    text-shadow: none;
	border-radius: 2px;
}

.sidebar-nav .nav > li > a:hover, .sidebar-nav .nav > li > a:focus {
    background-color: transparent;
    text-decoration: none;
	/*border-left: 5px solid #3071a9;*/
	color: #3071a9;
}



.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
	background-color: #fff !important;
}
.table-striped tbody > tr.ph-featured,
.table-striped tbody > tr.ph-featured td {
	background: #ffe599 !important;
}





#j-toggle-sidebar-icon {
	display: none;
}




#status {
    box-shadow: 0px 0px 0px 0px transparent !important;
	box-shadow: inset 0px 0px 0px 0px transparent !impoartant;
}


.pagination {
	min-height: 25px;
}

.btn-group > .btn:first-child {
	border-radius: 3px 0px 0px 3px !important;
}
.btn-group > .btn:last-child {
	border-radius: 0px 3px 3px 0px !important;
}


#ph-extended-params {
	/* display: none; */
}
.ph-extended-params-inbox {
	
	background: #F1F5F9;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin-left: -10px;
	margin-bottom: 10px;
}

.ph-product-price-history-box,
.ph-product-customer-group-box,
.ph-discount-box,
.ph-specification-box,
.ph-attribute-box {
	
	background: #F1F5F9;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	margin-left: -10px;
	margin-bottom: 10px;
}

.ph-option-box {
	background: #DFE8F1;
	padding: 10px;
	border-radius: 3px;
	
}




.alert {
	border-radius: 0px !important;
	border: 0px !important;
}

.alert-success {
	background-color: #DFF0D8 !important;
	border-left: 5px solid #3C763D  !important;
}
.alert-info {
	background-color: #D9EDF7  !important;
	border-left: 5px solid #31709B  !important;
}
.alert-warning {
	background-color: #FCF8E3  !important;
	border-left: 5px solid #8A6D3B  !important;
}
.alert-error,
.alert-danger {
	background-color:	#F2DEDE  !important;
	border-left: 5px solid	#A94442  !important;
}


.ph-admin-stat-box {
	padding: 20px;
	border-radius: 3px;
	background: #ffffff;
	border: 1px solid #DFE8F1;
	margin: 20px 0px;
}

.label, .badge {
	text-shadow: none !important;
	font-weight: 100 !important;
}

.input-append .add-on, .input-prepend .add-on {
	height: auto !important;
	border-color: #dedede !important;
}

#phAdminEdit input, #phAdminEdit textarea, #phAdminEdit .uneditable-input {
    width: 220px;
}

#phAdminEdit .ph-attribute-box .minicolors-input,
#phAdminEdit .ph-attribute-box .input-small {
	width: 90px;
}

#phAdminEditProducts input {
	width: 150px;
}
#phAdminEditProducts input.input-xlarge {
	width: 200px;
}

#phAdminEditProducts input.input-xxlarge {
	width: 530px;
}

#phAdminEdit .chzn-search input {
	width: 210px;
}








#phAdminEdit .ph-radio-top {
	vertical-align:top;
	top:0;
	padding-top:0px;
	margin: 0 auto;
	text-align: center;
	margin-top: -26px !important;
	width: 20px !important;
}
#phAdminEdit .ph-radio-top input {
	width: 20px !important;
}

.col-sm-6, .col-sm-2 {
	/*border: 1px solid red;*/
}

/* Multiple Upload */


ul.plupload_filelist li  {
	padding-top: 15px;
}

ul.plupload_filelist li.plupload_file_name {
	width: 35%;
}
ul.plupload_filelist li .plupload_file_name:before {
	font-family: 'Glyphicons Halflings';
	color: #d0d0d0;
    content: "\e022";
	float: left;
	margin: 0px 5px 5px 0px;
	padding-bottom: 2px;
}

.plupload_filelist {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 5px dashed #d0d0d0;
	background: #f5f5f5;
    border-radius: 0px;
}

li.plupload_droptext {
    font-size: 200%;
	color: #d0d0d0;
	text-transform: uppercase;
	font-weight: bold;

}

li.plupload_droptext:before {
	font-family: 'Glyphicons Halflings';
	color: #d0d0d0;
    content: "\e022 ";
	font-size: 200%;
	text-align: center;
	margin: 0px auto;
	/*display: block-inline;*/
	float:none;
}

.ph-red {
	color: #d60000;
}
.ph-currency-row {
	
	margin: 5px;
	background: #FFD6D6;
	border-radius: 3px;
}

.ph-currency-col  {
	
	margin: 5px;
	background: #FFD6D6;
	border-radius: 0px;
	text-align: center;
}

.ph-success-txt {
	font-weight: bold;
	color: #00B19D;
}
.ph-disabled-txt {
	font-weight: bold;
	color: #F76397;
}
.ph-extension-button .btn {
	padding: 6px 5px;
}

table#extensionList tr td {
	vertical-align: middle;
}

.ph-featured-box {
	padding: 10px;
	background: #fff;
	border: 1px solid #DFE8F1;
}
.ph-featured-head {
	font-weight: bold;
}
.ph-featured-image {
	float: left;
	margin: 0px 10px 10px 0px;
}

.ph-featured-image-large {
	text-align: center;
}
.ph-featured-image-large img {
	margin: 10px auto;
}

.ph-featured-box a,
.ph-featured-box a:hover,
.ph-featured-box a:visited,
.ph-featured-box a:focus {
	text-decoration:none;
	color: #555;
}
