label {

}

hr {
	border: 1px solid #cce6ff;
}

.ph-options-head {
	background: #E5F3FF;
	color: #0069CC;
	border: 1px solid #B3DBFF;
	padding:15px 10px;
	margin:5px 0;
	display:block;
	text-shadow: 0 1px 0 #ffffff;
	margin-left: -300px;
}

.ph-options-head-expert {
	background: #F2dede;
	color: #b94a48;
	border: 1px solid #edd3d6;
	padding:15px 10px;
	margin:5px 0;
	display:block;
	text-shadow: 0 1px 0 #ffffff;
	margin-left: -300px;
}

.form-horizontal .controls {
    margin-left: 300px !important;
}